.box{

    display: flex;
    align-items: center; /* Вирівнює елементи по вертикалі */
    gap: 10px;

}


.btnBox {

    display: flex;
    align-items: center;


}

.btnDelete{

    padding: 5px;

}