.formContainer {

    display: flex;
    flex-direction: column;

    width: 300px;
    border: 1px solid black;
    padding: 10px;
    margin-left: 10px;

}


.btnAdd {

    width: 100px;    
    margin: 0 auto;
    padding: 5px;

}


.formLabel{

    display: flex;
    flex-direction: column;
}


.formEror{

    color: red;

}